.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
  min-height: 60vh;
  width: 100%;
}

.popular h1 {
  color: #171717;
  font-size: 40px;
  font-weight: 500;
}

.popular hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
}

.popular-item {
  margin-top: 50px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 20px;
  width: 100%;
  padding-bottom: 10px;
  /* Hide scrollbar */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

/* Hide scrollbar for Webkit browsers */
.popular-item::-webkit-scrollbar {
  display: none;
}