.loginsignup {
  width: 100%;
  height: 100vh;
  background: #fce3fe;
  padding-top: 100px;
}

.loginsignup-container {
  width: 560px;
  height: 580px;
  background: white;
  margin: auto;
  padding: 40px 60px;
}

.loginsignup-container h1 {
  margin: 20px 0px;
}

.loginsignup-fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.loginsignup-fields input {
  height: 68px;
  width: 100%;
  padding-left: 20px;
  border: 1px solid #c9c9c9;
  outline: none;
  color: #5c5c5c;
  font-size: 16px;
  box-sizing: border-box;
}

.password-field {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.password-field input {
  width: 100%;
  padding-right: 50px;
  box-sizing: border-box;
  height: 68px;
}

.password-toggle-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.loginsignup-container button {
  width: 100%;
  height: 68px;
  color: white;
  background: #ff4141;
  margin-top: 30px;
  border: none;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
}

.loginsignup-login {
  margin-top: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}

.loginsignup-login span {
  color: #ff4141;
  font-weight: 600;
  cursor: pointer;
}

.loginsignup-agree {
  display: flex;
  align-items: center;
  margin-top: 25px;
  gap: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}