.descriptionbox{
  margin: 1px 120px;
}

.descriptionbox-navigation{
  display: flex;
}

.descriptionbox-nav-box{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  width: 151px;
  height: 60px;
  border: 1px solid #d0d0d0;
}

.descriptionbox-nav-box.fade{
  background: #fbfbfb;
  color: #555;
}

.descriptionbox-description{
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: 1px solid #d0d0d0;
  padding: 40px;
  padding-bottom: 65px;
}